// Обший селектор элемента toDo.
.toDo {
    // border: 1px solid red;
    // Ширина элемента.
    width: 50%;
    // Округление углов элемента.
    border-radius: 0.2rem;
    // Элементы внутри form буду располгаться в виде флекс элементов.
    display: flex;
    // Выравнивание главной оси(X-по умолчанию) по центру.
    justify-content: center;
    // Выравнивание поперечной оси(Y-по умолчанию) по центру.
    align-items: center;
    // Верхний внешний отступ от других элементов.
    margin: 1.5rem auto;
    // Внутренние отступы сверху и снизу.
    padding: 0.5rem 0.1rem;
    // Размер текста элемента.
    font-size: 1.2rem;
    // Фон элемента.
    background-color: #fbfef9;
    // Вложенный селектор изменения свойств строки.
    &__text {
        border: 1px solid red;
        // Ширина элемента строки в 90% от родительского.
        width: 95%;
        // Элементы внутри form буду располгаться в виде флекс элементов.
        display: flex;
        // Выравнивание главной оси(X-по умолчанию) по левому краю.
        justify-content: left;
        // Выравнивание поперечной оси(Y-по умолчанию) по центру.
        align-items: center;
        // Цвет текста элемента.
        color: #112d49;
    }
}
