@use "../custom" as *;

// Абсолютное центрирование.
@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// Плавный переход.
@mixin transitionProperty {
  transition-property: all;
  transition-duration: 500ms;
}
